:root {
  font-family: "Livvic", sans-serif;
}

$clr-yellow: #ffce25;
$clr-blue: #0097cc;
$clr-red: #ff392e;
$clr-dark-gray: #1d1d1b;
$clr-light-gray: #f2f2f2;
$clr-gray: #7f7f7f;
$clr-white: #ffffff;
